
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.1fr 1.8fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "up up up"
        "left center center"
        "left center center";
}

.up {
    grid-area: up;
}

.left {
    grid-area: left;
    background-color: beige;
}

.center {
    grid-area: center;
}